<aside class="sidebar">
    <div class="sidebar-header">
        <h2>SINTA</h2>
        <span>Sinergitas Data</span>
    </div>
    
    <ul class="menu">
        <li class="menu-item">
            <a href="#" class="menu-link">
                <i class="fa-solid fa-location-dot"></i>
                <span>Kantor Pertanahan...</span>
                <i class="arrow fa-solid fa-chevron-right"></i>
            </a>
        </li>
    </ul>

    <div class="menu-label">ADMIN TOOLS</div>
    <ul class="menu">
        <li class="menu-item">
            <a href="index.html" class="menu-link">
                <i class="fa-solid fa-users-gear"></i>
                <span>Integrasi SIMETRI</span>
            </a>
        </li>
        <li class="menu-item">
            <a href="parameter-sistem.html" class="menu-link">
                <i class="fa-solid fa-gear"></i>
                <span>Parameter Sistem</span>
            </a>
        </li>
        <li class="menu-item">
            <a href="admin-ruangan.html" class="menu-link">
                <i class="fa-solid fa-user-tie"></i>
                <span>Admin Ruangan</span>
            </a>
        </li>
        <li class="menu-item">
            <a href="#" class="menu-link">
                <i class="fa-solid fa-shield-halved"></i>
                <span>Log Aktivitas</span>
            </a>
        </li>
    </ul>
</aside>
